  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  font-family:  sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 15px;
}
body{
  height: 100vh;
  background-image: linear-gradient(to bottom right, rgb(137, 195, 246), rgb(232, 175, 235));
  display: flex;
  justify-content: center;
  align-items: center; 
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.TodoWrapper{
  /* height: 500px; */
  background-color: rgb(255, 255, 255);
  padding: 25px 20px 20px;
  border-radius: 5px;
  box-shadow: 0 20px 40px rgba(38, 33, 61, 0.2);
  border: 3px solid rgb(146, 140, 141);
  max-width:500px;
}

h1{
  padding-bottom: 10px;
  font-size: 30px;
  text-align: center;
  color: rgb(125, 124, 124);
}

.TodoForm{
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding: 10px 5px 5px 5px;  
}

.TodoForm input{
  padding: 5px 5px 7px 5px;
  width: 350px;
  outline: none;
  border: none;
  border-bottom: 2px solid rgba(133, 136, 137, 0.443);
  font-size: 15px;
}
.Todo p{
  cursor: pointer;
}

.todo-input::placeholder {
  color: #5a5959a2;
}

.todo-btn{
  padding: 5px 5px 4px 5px;
  width: 110px;
  height: 35px;
  background-color: rgb(16, 169, 189);
  border: none;
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  color:#fff;
  font-weight: 700;
}

.todo-btn:hover{
  background-color:rgb(6, 133, 150);
}

.Todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 5px 7px 7px;
  border-bottom: 2px solid rgba(1, 1, 1, 0.087);
  width: 98%;
  margin-left: 5px;
  margin-bottom: 11.7px;
  /* max-width: 500px; */
}
.icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-trash {
  margin-left: 10px;
  cursor: pointer;
  min-width: 15px;
  align-items: center;
}

.completed {
  color: #5a5959a2;
  text-decoration: line-through;
}
.Edit{
  padding: 23px 5px 7px 7px;
  border-color: rgba(1, 1, 1, 0.087);
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
    z-index: -1; 
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.452);
    animation: animate 25s linear infinite;
    bottom: -200px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}

@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media only screen and (max-width:350px){
  .TodoWrapper{
    width: 300px;
    padding-right: 5px;
    padding-left: 6px;
  }
  h1{
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .TodoForm{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .TodoForm input{
    width:167px;
  }
  .todo-btn{
    width: 90px;
    font-size: 14px;
    height: 39px;
  }
}